.swiper-outer-wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 1;

  .swiper-wrap {
    display: flex;
    width: 100%;
    height: 100%;
    transition: all 0ms ease;
    position: relative;
    z-index: 1;
    transform-style: preserve-3d;
    transition-property: transform;
    box-sizing: content-box;

    > div {
      position: relative;
      width: 100%;
      height: 100%;
      flex: 0 0 auto;
      transform-style: preserve-3d;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }

  &.horizontal .swiper-wrap {
    flex-direction: row;
  }

  &.vertical .swiper-wrap {
    flex-direction: column;
  }

  .swiper-pagination {
    position: absolute;
    z-index: 1;
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #000000;
      opacity: .2;
      transition: all .5s ease;
    }

    .swiper-pagination-bullet.active {
      background: #007aff;
      opacity: 1;
    }
  }

  &.vertical .swiper-pagination {
    right: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0);

    .swiper-pagination-bullet {
      display: block;
      margin: 6px 0;
    }
  }

  &.horizontal .swiper-pagination {
    bottom: 10px;
    width: 100%;
    text-align: center;

    .swiper-pagination-bullet {
      display: inline-block;
      margin: 0 3px;
    }
  }
}
