@import "variable.less";

body, html {
  line-height: 1;
  font-family: 'sans-serif', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: @body-color;
  color: @color-text;
  font-size: @font-size-medium;
}

.mint-msgbox-confirm {
  color: @blue-color;
}

.wx-icon-warning {
  display: inline-block;
  width: 16px;
  height: 16px;
  font-size: 0;
  background-color: rgb(247, 181, 43);
  color: #fff;
  border-radius: 50%;
  vertical-align: text-bottom;
  line-height: 16px;
  overflow: hidden;
  &:before{
    content: '!';
    font-size: 12px;
    transform: scaleX(2);
    display: inline-block;
  }
}
